* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgb(173, 230, 230);
}

div ul{
  /*list-style-type:decimal;*/
  padding-left: 20px;  
  border: 1px solid black;
  background-color: rgb(230, 173, 216);
}

ul li, li p, li a{
  background-color: rgb(230, 173, 216);
}

